@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
*{
  margin:0;
  padding:0;
}



.progress-bar-outer{
  width:30vw;
  height:5vh;
  border:2px solid black;
  border-radius:1rem;

   position: relative; /* Set position to relative */
  overflow: hidden; /* Clip content that overflows */
}
.progress-bar-inner{
  height:80%;
  width:30%;
  margin:1vh;
  border-radius:0.7rem;
  background: linear-gradient(45deg, rgba(41,164,116,1) 0%, rgba(41,47,116,1) 100%);
}